
<div class="row">
    <div class="col-8" >
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" [ngClass]="{'clearence':book.clearance}">
            <td><img [src]="book.image" [alt]="book.name"/></td>
            <td>{{book.name | uppercase}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.genere}}</td>
            <td >{{book.price | currency}}</td>                      
            <td> <span *ngIf="book.clearance" class="badge badge-danger"> ¡¡OFERTA!!</span>
            <span  *ngIf="book.stock!=0">{{book.stock}}</span><span *ngIf="book.stock==0" class="badge badge-danger">SIN STOCK  </span></td>
            <td>
                <app-input-decre-incre [book]="book"*ngIf="book.stock!=0"></app-input-decre-incre>
            </td>
        </tr>
      
    </tbody>      
</table>

</div>
<div class="col-4" ><app-books-carrito></app-books-carrito></div>
</div>
