h1{
   color: rgb(10, 10, 10);
    background-color: rgb(204, 178, 32);
    font-size: 100%;
    text-align: center;
}
header{
    background-color:rgb(204, 178, 32);
}
footer{
height: 65px;    
}
h3{
    color:whitesmoke;
}